/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Indie Flower', cursive;*/
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(78, 75, 88);
}




.container_header{
    display: flex;
    width: 100%;    
    background: linear-gradient( 90deg, rgb(33, 33, 33), rgb(130, 128, 130))    
}

li,ul{
    list-style: none;
}


.container__bt{
    margin-left: 35%;   
}


.logo__empresa{
    background: red;
}


.logo__bt{
    display: flex;
    height: 10vh;
    padding: 0.5vh 1vw 0.5vh 1vw;    
}


.texto__desplegado{
    display: flex;
    color: white;
    font-family: 'Barlow Condensed';
    font-size: 2.5vw;
    text-decoration: none;
}


.opciones__menu{
   margin-top: 3vh;
   transition: all 360ms;
}
.opciones__menu:hover{
    transform: scale(1.2);
}


.item__menu{
    display: flex;
    gap: 3vw;
    margin-left: 30%;
}


.Separador__menu{
    border-bottom: 1.5px solid rgb(50, 50, 50);
    margin-top: 0.4vh;
}


.boton_burger{
    display: none;
}


.container__footer{
    display: flex;
    position:relative;
    height: 12vh;
    background: rgb(48, 47, 47);
    align-items: center;
    justify-content:space-between;
    font-size: 2vw;
}


.container__ico{
    display: flex;
    margin-right: 2vw;
}

.text__footer{
    margin-left: 45%;
    color:white;
    font-family: Indie Flower;
    
    
}

.ico__footer{
    background: rgb(48, 47, 47);
    padding: 1vw;
    cursor: pointer;
}
.ico__footer:hover{
 font-size: 90%;
 
}

/*-----------------------responsive---------------------------------------------------------------------------------*/


@media screen and (max-width: 550px) {
    
    .boton_burger{
        display: flex;
        margin: 2vh 0 0 3vw;
        color: white;
        background: rgba(33, 33, 33, 0.18);       
    }


    .container__bt{
        margin-top: 2vw;
        margin-left: -9vw;
        background: rgb(33, 33, 33);        
    }

   
    .item__menu{
        visibility: hidden;
        height: -webkit-fill-available;
        width: 50%;
       flex-direction:column;
        position: absolute;
        margin-top: 8vh;
        margin-left: 0;
        background: black;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.498) ;
    }


    .item__menu.visible{
        visibility: visible;
        position: absolute;
        z-index: 1;
    }


    .Separador__menu{
        display: none;
    }


    .texto__desplegado{
        margin-left: 7vw;
        font-size: 6vw;
    }


    .logo__empresa{
       position: absolute;
       margin-left: 37%;
       background: none;      
    }


    .logo__bt{
      height: 8.5vh;
      padding: 0;
    }


    .container_header{
        height: 9vh;
    }


    .fa-solid{
        font-size: 6vw;
        margin-top: 2vh;
        height: 6vh;
    }


    .container__footer{
        height: 6vh;
        font-size: 3vw;
    }




    
}