<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="../CSS/Style.css">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        
        
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Indie+Flower&display=swap" rel="stylesheet">
        <title>Lo q sea</title>
        <script src="https://kit.fontawesome.com/a8c2996f32.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>

<body>

    <header >
        <div class="container_header">
            <div id="bt_burger" class="boton_burger"><i class="fa-solid fa-bars" style="color: #d6b53d;"></i></div>
            <div class="logo__empresa"><img class="logo__bt" src="../IMG/logo_final.png"></div>
            <nav  class="container__bt">
                <ul id="menu__item"class="item__menu">
                    <li class="opciones__menu"><a href="tabla_sucursales.html" class="texto__desplegado"><i class="fa-solid fa-table"></i></a></li>
                    
                </ul>     
            </nav> 
        </div>    
        <div class="Separador__menu"></div>
        
    </header>


    <div class="mb-2 mt-2 container col-md-6 d-flex align-items-center">
        <form class="p-3  card card-body" action="">

            <div class="mb-3 text-center">
                <label class="form-label " for="id">ID</label>
                <input class="form-control form-control-md " type="number" name="id" id="id" disabled>
            </div>

            <div class="mb-3 text-center">
                <label class="form-label " for="provincia">Provincia:</label>
                <input class="form-control form-control-md " type="text" name="provincia" id="provincia">
            </div>
            <div class="mb-3 text-center">
                <label class="form-label " for="localidad">Localidad:</label>
                <input class="form-control form-control-md " type="text" name="localidad" id="localidad">
            </div>
            <div class="mb-3 text-center">
                <label class="form-label " for="direccion">Dirección:</label>
                <input class="form-control form-control-md " type="text" name="direccion" id="direccion">
            </div>
            <div class="mb-3 text-center">
                <label class="form-label " for="telefono">Teléfono:</label>
                <input class="form-control form-control-md " type="number" name="telefono" id="telefono">
            </div>
            <div class="mb-3 text-center">
                <label class="form-label " for="email">Email:</label>
                <input class="form-control form-control-md " type="text" name="email" id="email">
            </div>
            <div class="mb-3 text-center">
                <button class="w-100 p-1 btn-success btn-lg" type="button" onclick="modificar()">Guardar</button>
            </div>
        </form>
    </div>
    
    
           
     
   
            <footer>
                <div class="container__footer">
                    <h3 class="text__footer">Codo a Codo </h3>
                    <div class="container__ico">
                        <div class="ico__footer"><i class="fa-brands fa-instagram" style="color: #f2f4f8;"></i></div>
                        <div class="ico__footer"><i class="fa-brands fa-whatsapp" style="color: #f2f4f8;"></i></div>
                        <div class="ico__footer"><i class="fa-brands fa-twitter" style="color: #f2f4f8;"></i></div>
                    </div>
                </div>
            </footer>

    <script src="../JS_BACK/editar_sucursal.js"></script>
    <script src="../JS_BACK/editar_datos_sucursal.js"></script>
</body>
</html>